$loader-height: 4px;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

input, button {
  width: 100%;
  margin-bottom: 10px;
  padding: 4px;
  border: 1px solid #000;
}

input:last-child {
  margin-top: 10px;
}

.App {
  max-width: calc(100% - 100px);
  margin: 50px auto;
  padding: 24px;

  &::before, &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.clearfix {
  display: table;
  clear: both;
}

.ms::after {
  content: 'ms';
}

#loader {
  display: none;
  position: relative;
  height: $loader-height;
  width: 100%;
  overflow: hidden;
  background-color: #ddd;
  margin: 20px 0;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -200px;
    height: $loader-height;
    width: 200px;
    background-color: #2980b9;
    animation: loading 2s linear infinite;
  }
}

@keyframes loading {
  0% {
    left: -400px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  100% {
    left: 100%;
  }
}

.input_container {
  width: 400px;
  float: left;
  margin-right: 30px;

  div {
    margin-top: 0;
  }

  button {
    margin-top: 10px;
  }
}

.results_container {
  padding: 0 20px 20px;
  overflow: hidden;
  max-width: 600px;
}

.output_container {
  width: 100%;
  margin-top: 30px;
  clear: both;

  th:first-child,
  td:first-child {
    width: 50px;
    text-align: right;
  }

  .order:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .selected::before {
    position: relative;
    display: inline-block;
    content: '▲';
    margin-left: -14px;
    margin-right: 2px;
  }

  .ordered-ascending .selected::before {
    transform: rotate(180deg);
  }

  .image td:nth-child(2)::before {
    content: '\1F4F7';
    margin-right: 5px;
  }

  .link {
    cursor: pointer;

    td:nth-child(2)::before {
      content: '\1F517';
      margin-right: 5px;
    }
  }

  .good {
    background: rgba(0, 255, 0, 0.3);
  }

  .bad {
    background: rgba(255, 0, 0, 0.3);
  }
}

@media screen and (max-width: 760px) {
  .App {
    padding: 12px;
    max-width: 100%;
    margin: 0;
  }

  .input_container {
    width: 100%;

    div, button {
      margin-left: 0;
    }
  }

  .results_container {
    width: 100%;
    padding: 20px 0;
    max-width: none;
  }
}
