html, body, h1, h2, p, pre {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

input, button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.65);
    border: 1px solid #000;
}

button {
    margin-top: 10px;
}

.clearfix {
    display: table;
    clear: both;
}

.App {
    max-width: calc(100% - 100px);
    margin: 50px auto;
    background-color: rgb(237, 14, 107);
    padding: 24px;
}

.App:before, .App:after {
    content: '';
    display: table;
    clear: both;
}

.input_container {
    width: 300px;
    float: left;
    margin-right: 30px;
    box-sizing: border-box;
}

.results_container {
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 600px;
}

.output_container {
    width: 100%;
    margin-top: 30px;
    clear: both;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

tbody > tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.65);
}

tbody > tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.45);
}

thead > tr {
    background-color: #000;
    color: #fff;
}

td, th {
    text-align: left;
    vertical-align: top;
    border: black 2px solid;
    padding: 4px 8px;
}

.good {
    background: rgba(0, 255, 0, 0.3);
}
.bad {
    background: rgba(255, 0, 0, 0.3);
}

.output_container table {
    table-layout: fixed;
}

.output_container td {
    white-space: nowrap;
    overflow: hidden;
}

.output_container td:not(:nth-child(2)), .output_container th:not(:nth-child(2)) {
    width: 44px;
}

.output_container td:nth-child(2) {
    text-overflow: ellipsis;
}

@media screen and (max-width: 760px) {
    .App {
        padding: 12px;
        max-width: 100%;
        margin: 0;
    }

    .input_container {
        width: 100%;
    }

    .results_container {
        width: 100%;
        padding: 20px 0;
    }
}
